# Arquivos de Log
*.log

# Arquivos gerados pela aplicação
*.csv

# Diretórios de build do Maven/Gradle
/target/
/build/

# Metadados de IDEs
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# Arquivos do sistema operacional
.DS_Store